.top-appbar {
  margin-top: -10px;
}

.header-inputbox {
  width: 180px !important;
  padding-top: 25px;
}
.header-inputbox input {
  margin-top:-8px !important;
  height: 50px;
}
.header-inputbox hr {
  bottom: 20px !important;
  border-color:#0094A7!important;
}

.header-inputbox div {
  bottom: 20px !important;
}
.header-inputbox label {
  margin-top: -10px !important;
}

.home-page {
  float: left;
}

.side-nav>div{
  margin-top: 70px;
}
.header-left-area h3 {
  margin: 10px 0 0 20px;
}
.header-left-area {
  margin-top: 10px;
  margin-left: 5px;
  width: 200px;
  display: -webkit-box;
}
